 .mail-list {
     margin-inline-end: 1em;
     margin-block-end: 2em;
     border-top-left-radius: 1em;
     border-top-right-radius: 1em;

     background-color: white;
     font-weight: bold;
 }

 .mail-list ul {
     padding: 0;
     list-style: none;
 }

 .mail-list li {
     display: grid;
     grid-template-columns: 0.05fr 2fr;
     align-items: center;

     border-block-end: 1px solid lightgray;
     padding: 0.1em;

     font-size: 1em;
     font-family: Arial, Helvetica, sans-serif;
 }

 .mail-list li button {
     display: flex;
     justify-content: center;
     align-items: center;

     width: 2em;
     height: 2em;
     padding: 0.8em;

     border: 0;
     border-radius: 50%;

     font-size: 1em;

     background-color: transparent;

     transition: 0.2s;
 }

 .mail-list li:hover {
     border-inline: 1px solid lightgray;
     border-block-end: 2px solid lightgray;
 }

 .mail-list li:hover .mail-btns {
     display: inline;
 }

 .mail-list li:hover .mail-date {
     display: none;
 }

 .mail-list button:hover {
     background-color: rgb(248, 244, 244);
     border-radius: 50%;
 }

 .read {
     background-color: var(--main-bg-color);
     font-weight: normal;
 }

 .starred {
     color: rgb(255, 208, 0);
 }