.mail-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;

    gap: 1em;

    color: rgb(75, 71, 71);
}

.mail-preview div {
    display: flex;
}

.mail-preview div .mail-address {
    width: 300px;

    margin-inline-end: 2em;
    overflow-x: hidden;
    text-overflow: ellipsis;
}


.mail-preview span {
    justify-self: start;
    align-self: start;
    width: max-content;
}

.mail-preview span.draft {
    font-weight: normal;
    color: red;
}

.mail-btns {
    display: none;
}