.mail-filter {
    width: 50%;
    margin: auto;
}

.mail-filter input {
    width: 50%;
    height: 50px;
    border: 0;
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    padding: 1em;
    outline: none;

    background-color: white;

    cursor: pointer;
}

.mail-filter select {
    width: min-content;
    height: 50px;
    border: 0;
    border-inline-start: 1px solid rgb(204, 197, 197);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
    padding: 1em;
    outline: none;

    color: gray;

    background-color: white;

    cursor: pointer;
}

/* Mobile mode */
@media only screen and (max-width: 550px) {
    .mail-filter {
        display: flex;
        flex-direction: column;

        width: 25%;
    }

    .mail-filter input {
        width: 100%;
        height: 25px;

        padding: 0.5em;
        border-block-end: 1px solid lightgray;
        border-radius: 0;
    }

    .mail-filter select {
        width: 100%;
        height: 25px;

        border-radius: 0;
        border: 0;
        padding: 0.5em;
    }
}