/* note */
.note {
    background-color: #fff;
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    max-width: 400px;
}

.note p {
    margin-bottom: 10px;
}

.note button {
    margin: 2dvh;
    border-radius: 5px;
    padding: 1dvh;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.note button:hover {
    background-color: #0056b3;
}

.note video {
    max-width: 100%;
    max-height: 100%;
}

.note-editor {
    display: grid;
}


.note-editor > * {
    margin: 1dvh;
    align-items: center;
    align-content: center;

}