/* note form */
.note-form {
    background-color: #4b4b4b36;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.note-form textarea {
    width: 100%;
    padding: 10px;
    margin: 2dvh;
    border: 1px solid #08df08;
    border-radius: 5px;
}

.color-picker {
    appearance: none;
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
}

.color-picker::-webkit-color-swatch-wrapper {
    padding: 0;
}

.color-picker::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    padding: 0;
}

.color-picker:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
}

.file-upload-input {
    display: none;
}

.file-label {
    cursor: pointer;
    background-color: rgb(48, 214, 243);
    border-radius: 8px;
    padding: 1dvh;
    margin: 1dvh;
}

.add-btn {
    cursor: pointer;
    background-color: #08df08;
    border-radius: 8px;
    padding: 1dvh;
    margin: 1dvh;
}