/* search menu */
.search-menu {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    border-radius: 30px;
    background-color: rgba(78, 78, 78, 0.466);
    padding: 0.5dvh;
    margin: 2dvh;
}

.search-menu input[type="text"] {
    border-radius: 30px;
    border: none;
    padding: 12px;
    background-color: #f0f0f0;   
}