.mail-compose {
    opacity: 1;
    position: absolute;
    top: 40%;
    left: 55%;

    z-index: 10;

    width: 40%;
    height: 50%;

    border: 1px solid lightgray;
    border-radius: 1em;

    background-color: #fff;
}