.mail-index {
    display: grid;
    grid-template-columns:
        minmax(100px, 1fr) minmax(auto, 4fr);
}

.mail-index>* {
    grid-column: 2;
}

.mail-index>.full {
    grid-column: 1 / -1;
}

.mail-index-header {
    display: flex;
    justify-content: start;
    align-items: center;

    padding: 1em;

    background-color: var(--main-bg-color);
}

.mail-index-header .logo {
    display: flex;
    align-items: center;
}

.mail-index-header h2 {
    font-size: 2em;
    font-family: Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.mail-index-header img {
    width: 4em;
}