.mail-index {
    position: relative;
    display: grid;
    grid-template-columns:
        minmax(150px, 1fr) minmax(auto, 9fr);
}

.back-drop {
    position: absolute;
    inset: 0;
    background-color: #cccccc4a;
}

.mail-index>* {
    grid-column: 2;
}

.mail-index>.full {
    grid-column: 1 / -1;
}

.mail-index-header {
    position: sticky;
    top: 62px;
    display: flex;
    justify-content: start;
    align-items: center;

    padding: 1em;

    background-color: var(--main-bg-color);
}

.mail-index-header .menu-btn {
    display: none;
}


.mail-index-header .logo {
    display: flex;
    align-items: center;
}

.mail-index-header h2 {
    font-size: 2em;
    font-family: Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.mail-index-header img {
    width: 4em;
}

.mail-index-side {
    position: fixed;
    top: 144px;
    /* position: fixed;
    top: 144px; */
    display: flex;
    align-items: center;
    grid-column: 1;

    display: flex;
    flex-direction: column;

    gap: 1em;

    border-block-start: 1px solid lightgray;
    padding: 1em;
}

.no-emails {
    min-height: calc(100vh - 144px - 4em);
    max-width: 100%;

    margin-inline-end: 1em;

    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 2em;

    background-color: white;
    color: gray;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;

    box-sizing: border-box;

    width: 48px;
    height: 48px;

    margin: auto;
    border: 5px solid gray;
    border-bottom-color: transparent;
    border-radius: 50%;

    animation: rotation 1s linear infinite;
}

.open {
    translate: 0;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Tablet mode */
@media only screen and (max-width: 700px) {
    .mail-index {
        display: flex;
        flex-direction: column;
    }

    .mail-index-header h2 {
        font-size: 1.5em;
    }

    .mail-index-header img {
        width: 3em;
    }

    .mail-index-header .menu-btn {
        display: block;

        margin-inline-end: 1em;
        border: 0;

        font-size: 2em;
        background-color: transparent;
    }

    .mail-index-side {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;

        background-color: var(--main-bg-color);

        overflow-x: hidden;

        border: 0;
        padding-top: 60px;
        box-shadow: 0px 0px 20px 0px;
        translate: -100%;
        transition: 0.2s;
    }

    .open {
        translate: 0;
    }
}