.mail-index {
    display: grid;
    grid-template-columns:
        minmax(50px, 1fr) minmax(auto, 5fr);
}

.mail-index>* {
    grid-column: 2;
}

.mail-index>.full {
    grid-column: 1 / -1;
}

.mail-index-header {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: start;
    align-items: center;

    padding: 1em;

    background-color: var(--main-bg-color);
}

.mail-index-header .logo {
    display: flex;
    align-items: center;
}

.mail-index-header h2 {
    font-size: 2em;
    font-family: Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 0.05em;
}

.mail-index-header img {
    width: 4em;
}

.no-emails {
    width: 50%;

    border-radius: 1em;
    padding: 2em;

    background-color: white;
    color: gray;
}

.loading {
    position: absolute;
    top: 50%;
    left: 50%;

    box-sizing: border-box;

    width: 48px;
    height: 48px;

    margin: auto;
    border: 5px solid gray;
    border-bottom-color: transparent;
    border-radius: 50%;

    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}